.cardsContainer {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
.topSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.filterCards {
  width: 50%;
}

.boldLabel {
  font-weight: bold;
}

.cardList {
  list-style-type: none;
  padding: 0;
}

.card {
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.card li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.cardImage {
  width: 130px;
  height: 80px;
}

.card:hover {
  transform: scale(1.02);
}

.cardNumber,
.bankName {
  margin: 5px 0;
  color: #333;
}

.cardNumber {
  font-weight: bold;
}

.bankName {
  font-style: italic;
}


